body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  font-family: 'Raleway', sans-serif;
  background-image: url(../img/background.svg);
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
}

nav a {
  color: #000;
  margin: 0 5px;
  font-style: italic;
  border-left: 2px solid #000;
  padding-left: 8px;
  font-size: 24px;
}

h1 {
  color: #eee;
  background-color: #000;
  padding:  8px;
  margin: 100px 8px 100px;
  font-size: 88px;
  font-weight: 900;
  text-align: center;
}

h2 {
  background-color: #000;
  color: #eee;
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  padding: 40px 20px;
  margin: 0;
}

.content {
  margin: 0 15px 50px;
  padding: 5px 15px 20px;
  background-color: #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul {
  padding: 20px;
}

.intro {
  font-weight: 500;
}

.border-left {
  border-left: 1px solid #000;
  padding-left: 8px;
}

.border-right {
  border-right: 1px solid #000;
  padding-right: 8px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px 30px 10px  ;
}

.flex-right {
  align-self: flex-start;
}

.chair {
  width: 150px;
}

.paddle {
  width: 200px;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 20px 30px 10px;
  justify-content: space-between;
  background: #eee;

}

footer img {
  width: 45px;
}